<h3>Players:</h3>
<table class="table table-striped table-responsive">
    <thead>
        <tr>
        <th>Player</th>
        <th>Score</th>
        <th>Placing</th>
        <th>Team</th>
        <th></th>
        </tr>
    </thead>
    <tbody id='competitive-players'>
        <%= f.fields_for :session_players do |session_player| %>
            <%= render 'session_player_fields', :f => session_player %>
        <% end %>
    </tbody>
</table>

<div>
    <%= link_to_add_association 'add player', f, :session_players, 
        data: { association_insertion_method: :append, association_insertion_node: '#competitive-players'}, class: "nav-link" %>
</div>